<article>
  <header><h2>Add Boat</h2></header>

  <form class="container" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="boat.name" required/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="sailArea">Sail Area:</label>
          <input id="sailArea" name="sailArea" [(ngModel)]="boat.sailArea" required/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <fieldset *ngIf="boatTypes">
          <legend>Boat Type:</legend>
          <div *ngFor="let boatType of boatTypes.boatTypes">
            <label>
              <input type="radio" name="boatType" [(ngModel)]="boat.boatType" [value]="boatType.id" required/>
              {{ boatType.name }}
            </label>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Add Boat</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>
